<h1>Welcome, <%=@user.username%></h1>
<%@user.tweets.each do |tweet|%>
  <h3><%=tweet.content%></h3>
<%end%>

<br>

<form action="/tweets<%=@tweet.id%>/edit" method="GET">
  <button type="submit" id="delete">Edit Tweet</button>
</form>

<br>

<form action="/logout" method="GET">
  <button type="submit">Logout</button>
</form>