<h1>Welcome, <%=@user.username%></h1>
<%Tweet.all.each do |tweet|%>
  <h3><%=tweet.user.username%></h3>
  <h4><%=tweet.content%></h4>
<%end%>

<form action="/logout" method="GET">
  <button type="submit">Logout</button>
</form>