<h1>Welcome, <%=@user.username%></h1>
<%Tweet.all.each do |tweet|%>
<%binding.pry%>
  <h3><%=tweet.user.username%> <%=tweet.content%></h3>
<%end%>

<form action="/logout" method="GET">
  <button type="submit">Logout</button>
</form>